:root {
  --default: #6e8098;
  --primary: #5964e0;
  --primary-hover: #939bf4;
  --secondary: rgba(89, 100, 224, 0.1);
  --secondary-hover: rgba(89, 100, 224, 0.35);
  --danger: #ff293b;
  --danger-hover: #ff6976;
  --success: #258c53;
  --success-hover: #7cba98;
  --dark: #303642;
  --dark-hover: #83868e;
  --primary-text: #ffffff;
  --alt-text: #5964e0;
}

.ui-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 16px 20px;
  margin: 5px auto;
  border-radius: 5px;
  border: 2px solid transparent;
  transition: transform 0.3s ease;
}

.ui-button:hover {
  opacity: 0.8;
  background-color: var(--primary-hover);
}

.ui-button:disabled {
  pointer-events: none;
  opacity: 0.65;
}

/* CUSTOM BUTTON STYLES */

.btn--default {
  background-color: var(--default);
  color: var(--primary-text);
}

.btn--default:hover {
  background-color: var(--default);
  border: 2px solid var(--default);
  color: var(--dark);
}

.btn--primary {
  background-color: var(--primary);
  color: var(--primary-text);
}

.btn--primary:hover {
  background-color: var(--primary-hover);
}

.btn--secondary {
  background-color: var(--secondary);
  color: var(--alt-text);
}

.btn--secondary:hover {
  background-color: var(--secondary-hover);
}

.btn--danger {
  background-color: var(--danger);
  color: var(--primary-text);
}

.btn--danger:hover {
  background-color: var(--danger-hover);
}

.btn--success {
  background-color: var(--success);
  color: var(--primary-text);
}

.btn--success:hover {
  background-color: var(--success-hover);
}

.btn--dark {
  background-color: var(--dark);
  color: var(--primary-text);
}
.btn--dark:hover {
  background-color: var(--dark-hover);
}
