@import-normalize; /* bring in normalize.css styles */

:root {
  --default: #6e8098;
  --primary: #5964e0;
  --primary-hover: #939bf4;
  --secondary: rgba(89, 100, 224, 0.1);
  --secondary-hover: rgba(89, 100, 224, 0.35);
  --danger: #ff293b;
  --danger-hover: #ff6976;
  --success: #258c53;
  --success-hover: #7cba98;
  --dark: #303642;
  --dark-hover: #83868e;
  --primary-text: #ffffff;
  --alt-text: #5964e0;
  --input-text: rgba(25, 32, 45, 0.5);
  --focused-text: #19202d;
}

tbody,
td,
tfoot,
th,
thead,
tr {
  border-bottom-color: inherit;
  border-style: solid;
  border-width: 0;
  border-bottom-width: 0px;
}

body {
  background-color: #f2f2f2;
}
